body {
    font-family: 'VT323', monospace;
}


#header {
    background-color: rgba(43, 1, 1, 0.7);
}

hr {
    border-color: rgb(163, 163, 0);
}

.jumbotron {
    border-bottom: 5px solid rgba(29, 29, 29, .85);
    background-color: #337ab7;
    padding: 100px;
    background: url(../images/hd.png) no-repeat center; 
    background-size: cover;
    color: rgb(163, 163, 0);
    margin: 0;
}

.content {
    background: url(../images/maxresdefault.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.row {
    margin: 0;
    padding-top: 20px;
}

.panel {
    font-size: 30px;
    border-color: rgb(163, 163, 0);
    background: rgba(29, 29, 29, .85);
    color: rgb(163, 163, 0);
}

.panel-default>.panel-heading {
    background-color: #28282a;
    color: rgb(163, 163, 0);
    border-color: rgb(163, 163, 0);
}

.panel-title {
    font-size: 34px;
}

label {
    font-weight: inherit;
}

th {
    font-weight: inherit;
}

.table>tbody>tr>td {
    border-top: 1px solid rgb(163, 163, 0);
}

.btn {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 40px;
    padding: 40px 100px;
    border-color: rgb(163, 163, 0);
    color: rgb(163, 163, 0);
    background-color: rgba(29, 29, 29, .85);
}

.btn:hover {
    background: url(../images/sonic.png) no-repeat center center;
    color: rgba(255, 255, 0, 0.199);
}

.input-group {
    margin-bottom: 12px;
    margin-top: 12px;
}

form {
    margin-top: 20px;
    padding-left: 20px;
}

.form-control {
    padding: 6px 30px 6px 12px;
    font-size: 26px;
    background-color: rgba(29, 29, 29, .85);
    color: rgb(163, 163, 0);
    border: 1px solid rgb(163, 163, 0);
}

.form-control:focus {
    border: none;
    box-shadow: 0 0 0 3px rgb(163, 163, 0);
}